.container-header {
    max-width: 100%;
    height: 30px;
    display: flex;
}
ul {
    background: #d0d8cfd5;
    height: 100px;
    list-style-type: none;
    padding: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
.menu-item {
color:black;
font-size: 20px;
font-weight: bold;
}
.section {
    padding: 10px;
    background-color: #e7e5d37c;
    text-align: center;
    max-width: 100%;
}
.section1 {
    padding: 10px;
    background-color: #f7f4e07c;
    text-align: left;
}
body {
    font-family:  'Roboto', sans-serif;
    src: url(assets/Roboto-Light.ttf);
    font-weight: 200;
}
.contacts {
    text-align: left;
    background-color: #f7f4e07c;
}
.footer {
    max-width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color:lightcoral;
}
.logo {
    width: 60px;
    height: 60px;
}